.dialogs {
    /*display: grid;*/
    /*grid-template-columns: 2fr 10fr;*/
    display: flex;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .dialog {
    width: 150px;
}

.dialogsItems .active {
    color: #FFFFFF;
}

.dialog img[alt="ava"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50px;
}

.dialog .name {
    margin-bottom: 100px;
}

.messages {
    padding: 10px;
}

.messages .message {
}

